<p><%= @user.nick %> 您好：</p>
<p>請點擊以下連結重設您的密碼：</p>
<p><a href="<%= reset_password_url(id: @user.id, token: @user.password_reset_token) %>"><%= reset_password_url(id: @user.id, token: @user.password_reset_token) %></a></p>
<br>
<p>如果您沒有申請過重設密碼，請忽略此郵件，謝謝。</p>
<p>有任何問題或是建議歡迎聯繫 <a href="mailto:enfu.liao.cs10@nycu.edu.tw">enfu.liao.cs10@nycu.edu.tw</a></p>
<p>開發團隊 敬上</p>