<div id="rooms">
  <table class="table table-hover table-bordered table-light">
    <thead class="table-dark">
      <%= head %>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <%= row(room) %>
      <% end %>
    </tbody>
  </table>
</div>
