<div class="w-full lg:py-10">
  <div class=" lg:w-1/2 lg:mx-auto py-6 px-8 bg-white rounded lg:rounded-3xl">
    <h1 class="mb-4 text-4xl text-gray-800 text-center lg:hidden">使用規範</h1>
    <ol class="text-xl list-decimal lg:px-10">
      <li class="py-2">每天最多 <%= @daily_limit == -1 ? "∞" : @daily_limit %> 個時段</li>
      <li class="py-2">每週最多 <%= @weekly_limit == -1 ? "∞" : @weekly_limit %> 個時段</li>
      <li class="py-2">每月最多 <%= @monthly_limit == -1 ? "∞" : @monthly_limit %> 個時段</li>
      <li class="py-2">...</li>
    </ol>
  </div>
</div>
<footer class="pb-5 w-full text-center">
  <div>&copy; 2024 Enfu Liao. All rights reserved. Logo designed by LIN,SHI-XUAN.</div>
  <div>View my <a href="https://github.com/lnfu/booking" target="_blank" rel="noopener noreferrer">GitHub project</a>. Contact me at: enfu.liao.cs10[at]nycu.edu.tw</div>
</footer>